<div class='feed-content'>
	<div id="grid-gallery" class="grid-gallery">
		<div class='tips-and-comments title-under-hat'>
		  <div>Публикации от тех, кого Вы читаете</div>
		  <%= link_to fresh_path do%>Посмотреть свежие публикации<% end %>
		</div>
    <% if current_user.follow_count.zero? %>
    	<div class='align-c'>
      	<h1 class='impressed-text'>Вы пока еще никого не читаете</h1>
      </div>
    <% else %>
	    <%= react_component 'ExploreGrid', props: { posts_url: posts_path(@user) } %>
    <% end %>
	</div>
	<div class='feed-right-column'>
		<div class='content-feed-right-column'>
			<h4 class='on-grey'>Рекомендуем к просмотру</h4>
			<div class='feed-recomended-list'>
        <% User.recommended.random_order.limit(5).each do |u| %>
  				<div class='person'>
            <%= link_to u do %>
              <div class="usual-avatar"
                style="background: url(<%= u.avatar.thumb %>) no-repeat;
                      background-size: cover";>
              </div>
              <div class='info-person'>
                <h5 class="name-person"><%= u.name %></h5>
                <div class='city-person'><%= u.city_name %></div>
              </div>
              <div class='clearboth'></div>
            <% end %>
          </div>
        <% end %>
			</div>
      <div class='wrap-feed-citizen-list'>
      <% if current_user.city_name %>
  			<h4 class='on-grey'>Бутики и мастера из вашего города</h4>
  			<div class='feed-citizen-list'>
          <% User.having_posts.where.not(id: current_user).where(city: current_user.city).random_order.limit(6).each do |u| %>
    				<div class='person'>
              <%= link_to u do %>
                <div class="usual-avatar"
                  style="background: url(<%= u.avatar.thumb %>) no-repeat;
                        background-size: cover";>
                </div>
                <div class='info-person'>
                  <h5 class="name-person"><%= u.name %></h5>
                  <div class='city-person'><%= u.city_name %></div>
                </div>
                <div class='clearboth'></div>
              <% end %>
            </div>
          <% end %>
  			</div>
      <% end %>
      <%= render "partials/contacts" %>
      </div>
		</div>
	</div>
</div>