<div class="homepage-hero-module">
    <div class="welcome-yet" style = 'background: url(/images/bkg-m2.png); background-size: cover; background-repeat: no-repeat; background-position: center;'>
        <!-- <video autoplay muted class="fillWidth">
            <source src="<%= image_path "Marguerite.mp4" %>" type="video/mp4"/>
        </video> -->
        <!--<img src = '' class = 'fillWidth'/>-->
    <%= render 'form' %>
    </div>
    <div class = 'about-studpad'>
        <div class = 'content-about-studpad'>
            <div class = 'text-description'>
                <h2>Расскажите о своем товаре!</h2>
                <p>
                    Под каждой публикацией размещайте ссылку на товар, это поможет Вам быстрее и легче совершить сделку с клиентом.
                </p>
            </div>
        </div>
    </div>
    <div class = 'prospect'>
        <div class = 'content-prospect'>
            <div class = 'text-description'>
                <h2>О вас узнают!</h2>
                <p>
                    Публикуйте больше товаров, и о вас непременно узнают. Каждая публикация будет отображена в соответствующем разделе, например, УЮТНЫЙ ДОМ, ДЕТИ, ЖЕНСКАЯ МОДА, ЗДОРОВЬЕ И ФИТНЕС и т.д.
                </p>
            </div>
        </div>
    </div>
    <div class = 'conclusion'>
        <div class = 'content-conclusion'>
            <h1>Как видите, все очень просто</h1>
            <p>Теперь вы знаете, как это работает. Добро пожаловать на борт!</p>
            <!-- <video autoplay muted class="fillWidth">
                <source src="<%= image_path "Marguerite.mp4" %>" type="video/mp4"/>
            </video> -->
            <!--<img src = '' class = 'fillWidth'/>-->
            <%= render 'form' %>
            <div class = 'wrap-terms-and-informations'>
              <%= link_to 'Правила', terms_path, class: 'ti-a'%>
              <br>
              <span>Trenly © 2016</span>
            </div>
        </div>
    </div>
</div>
