<section class = 'metabar'>
  <div class='hat-site'>
    <div class='inner-hat'>
      <div class='metabar-block metabar-block-left'>
        <% if current_user %>
          <%= link_to feed_path do %>
            <img src='/images/logo_trenly.png' />
          <% end %>
          <% if current_user.admin? %>
            <a class='btn btn-sm btn-default mt-12' href='/admin'>Админка</a>
            <%= link_to 'Модерация', admin_moderate_path, class: 'btn btn-sm btn-default mt-12' %>
          <% end %>
        <% else %>
          <%= link_to main_path do %>
            <img src='/images/logo_trenly.png' />
          <% end %>
        <% end %>
      </div>
      <div class='metabar-block search'>
        <div class="input-group">
          <input id='hat-search' type="text" class="form-control" placeholder='Поиск...'>
          <div class="input-group-btn">
            <%= link_to desires_path do %>
              <button type="button" class="btn btn-default dont-hide btn-day-product btn-without-props-btn">Желания</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class='metabar-block metabar-block-right'>
        <div class='profile'>
          <div class='menu-wrap'>
            <% if current_user %>
                <div data-toggle="dropdown" class = 'profile-icon' style = 'background: url(<%= current_user.avatar.thumb %>) no-repeat; background-size: cover; background-color: white;'></div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li>
                    <%= link_to user_path(current_user) do %>
                      <span class="badge pull-right">
                        <%= current_user.posts.count %>
                      </span>
                      <img src="/images/profile.png">
                       Профиль
                    <% end %>
                  </li>
                  <li>
                    <%= link_to favourite_user_path(current_user) do %>
                      <span class="badge pull-right">
                        <%= current_user.get_voted(Post).count %>
                      </span>
                      <img src='/images/like_active.png' />
                      Нравится
                    <% end %>
                  </li>
                  <li>
                    <%= link_to iwant_path do %>
                      <img src='/images/magic-wand.png' />
                      Мои желания
                    <% end %>
                  </li>
                  <li>
                    <%= link_to following_user_path(current_user) do %>
                      <img src='/images/cupoftea.png' /> Я читаю
                    <% end %>
                  </li>
                  <li>
                    <%= link_to followers_user_path(current_user) do %>
                      <img src='/images/bulb.png' /> Меня читают
                    <% end %>
                  </li>
                  <li role="presentation" class="divider"></li>
                  <li>
                    <%= link_to profile_edit_path do %>
                      Настройки
                    <% end %>
                  </li>
                  <li>
                    <%= link_to logout_path, data: { no_turbolink: true } do %>
                      Выход
                    <% end %>
                  </li>
                </ul>
            <% end %>
            <% if current_user %>
              <%= link_to hits_path data:{ turblinks: true} do %>
                <div>
                    <img title='Товары дня' data-toggle='tooltip' data-placement='bottom' class='menu-icon' src = '/images/gift_sale.png' />
                </div>
              <% end %>
            <% end %>
            <%= link_to notices_user_path(current_user) do %>
                <div>
                    <img title='Уведомления' data-toggle='tooltip' data-placement='bottom' class='menu-icon' src = '/images/notice.png' />
                </div>
                <div class = 'amount-menu-icon amount-of-notices'>
                  <% notifications_count =  current_user.notifications.where(viewed: false).count %>
                  <%= notifications_count unless notifications_count.zero? %>
                </div>
            <% end if current_user %>
            <% if current_user %>
              <%= link_to new_post_path do %>
                <button class='get-publication-hat btn btn-st <%= insert_class_name(yield(:class_name)) %>'>Опубликовать</button>
              <% end %>
            <% end %>
            <% if !current_user %>
              <div class = 'entire-on-hat'>
                <%= link_to "Вход", new_session_path, class: 'btn btn-primary btn-st welcom-main-page'%>
                 •
                <%= link_to '/auth/vkontakte', class: 'link-to-reg-vk btn btn-st btn-st-contrast' do%>
                  <img src='/images/vk_link_reg1.png'/> Через ВК
                <% end %>
                •
                <%= link_to "Регистрация", new_user_path, class: 'btn btn-st-contrast btn-st welcom-main-page'%>
              </div>
            <% end %>


          </div>
        </div>
      </div>
    </div>
    <div class='hat-categories'>
       <div class='inner-hat-categories'>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Новое', fresh_path %></li>
            <li><%= link_to 'Наш выбор', recommend_path %></li>
            <li class="dropdown">
              <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Для кого? <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><%= link_to 'Для мужчин', category_name_path('Для мужчин') %></li>
                <li role="presentation"><%= link_to 'Для женщин', category_name_path('Для женщин') %></li>
                <li role="presentation"><%= link_to 'Для детей', category_name_path('Для детей') %></li>
                <li role="presentation"><%= link_to 'Для животных', category_name_path('Для животных') %></li>
              </ul>
            </li>
            <li><span class='divider-hat-categories'>|</span></li>
            <li><%= link_to 'Аксессуары', category_name_path('Аксессуары') %></li>
            <li><%= link_to 'Украшения', category_name_path('Украшения') %></li>
            <li><%= link_to 'Дизайн и графика', category_name_path('Дизайн и графика') %></li>
            <li><%= link_to 'Картины и иллюстрации', category_name_path('Картины и иллюстрации') %></li>
            <li><%= link_to 'Уютный дом', category_name_path('Уютный дом') %></li>
            <li class="dropdown">
              <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Ещё <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                <li role="presentation"><%= link_to 'Цветы и флористика', category_name_path('Цветы и флористика') %></li>
                <li role="presentation"><%= link_to 'Куклы и игрушки', category_name_path('Куклы и игрушки') %></li>
                <li role="presentation"><%= link_to 'Скрапбукинг', category_name_path('Скрапбукинг') %></li>
                <li role="presentation"><%= link_to 'Декупаж и роспись', category_name_path('Декупаж и роспись') %></li>
                <li role="presentation"><%= link_to 'Вязание и вышивка', category_name_path('Вязание и вышивка') %></li>
                <li role="presentation"><%= link_to 'Косметика', category_name_path('Косметика') %></li>
                <li role="presentation"><%= link_to 'Посуда', category_name_path('Посуда') %></li>
                <li role="presentation"><%= link_to 'Канцелярские товары', category_name_path('Канцелярские товары') %></li>
              </ul>
            </li>
          </ul>
          <!--<nav>
            <%= link_to 'Новое', fresh_path %>
            <%= link_to 'Наш выбор', recommend_path %>
            <span>Для кого? <span class="caret"></span></span>
            <span class='divider-hat-categories'>|</span>
            <%= link_to 'Аксессуары', category_name_path('Аксессуары и сумки') %>
            <%= link_to 'Украшения', category_name_path('Аксессуары и сумки') %>
            <%= link_to 'Дизайн и графика', category_name_path('Аксессуары и сумки') %>
            <%= link_to 'Картины и иллюстрации', category_name_path('Аксессуары и сумки') %>
            <%= link_to 'Уютный дом', category_name_path('Аксессуары и сумки') %>
            <span class="dropdown-toggle" data-toggle="dropdown">Ещё <span class="caret"></span></span>
          </nav> -->
          <!--<div class="dropdown-menu main-categories" role="menu">
            <% b, a = Category.all.order('created_at').to_a.partition.with_index{ |c, i| i < 10 } %>
              <div class='pole'>
                <p><b><%= link_to 'Популярное', popular_path %></b></p>
                <p><b><%= link_to 'Новое', fresh_path %></b></p>
                <p><b><%= link_to 'Наш выбор', recommend_path %></b></p>
                <% b.each do |c| %>
                  <p>
                    <%= link_to c.name, category_name_path(c.name) %>
                  </p>
                <% end %>
              </div>
              <% d, f = a.partition.with_index{ |c, i| i < 13 } %>
              <div class='pole'>
                <% d.each do |c| %>
                  <p>
                    <%= link_to c.name, category_name_path(c.name) %>
                  </p>
                <% end %>
              </div>
              <% g, h = f.partition.with_index{ |c, i| i < 13 } %>
              <div class='pole'>
                <% g.each do |c| %>
                  <p>
                    <%= link_to c.name, category_name_path(c.name) %>
                  </p>
                <% end %>
              </div>
              <div class='pole'>
                <% h.each do |c| %>
                  <p>
                    <%= link_to c.name, category_name_path(c.name) %>
                  </p>
                <% end %>
              </div>
          </div> -->
        </div>
    </div>
  </div>
  <!--<div class='contant-wrap'>
    <div class='logo'>
      <h1>
        <% if current_user %>
          <%= link_to "Butify", root_path, class: 'hat-logo-studpa-a'%>
        <% else %>
          <%= link_to "Butify", main_path, class: 'hat-logo-studpa-a'%>
        <% end %>
      </h1>
    </div>
    <div class='search'>
      <div class="input-group">
        <input id='hat-search' type="text" class="form-control">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle dont-hide" data-toggle="dropdown"><span class='choose-category'></span></button>
          <div class="dropdown-menu main-categories" role="menu">
            <% b, a = Category.all.to_a.partition.with_index{ |c, i| i < 8 } %>
            <div class='pole'>
              <p><%= link_to 'Популярное', popular_path %></p>
              <p><%= link_to 'Новое', fresh_path %></p>
              <p><%= link_to 'Наш выбор', recommend_path %></p>
              <% b.each do |c| %>
                <p>
                <%= link_to c.name, category_name_path(c.name) %>
                </p>
              <% end %>
            </div>
            <div class='pole'>
              <% a.each do |c| %>
                <p>
                <%= link_to c.name, category_name_path(c.name) %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='profile'>
      <div class='menu-wrap'>

        <% if current_user %>
          <div>
            <img data-toggle="dropdown" class = 'profile-icon'
              src = '<%= current_user.avatar.thumb %>' />
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>
                <%= link_to user_path(current_user) do %>
                  <span class="badge pull-right">
                    <%= current_user.posts.count %>
                  </span>
                  <img src="/images/publication.png">
                  Публикации
                <% end %>
              </li>
              <li>
                <%= link_to favourite_user_path(current_user) do %>
                  <span class="badge pull-right">
                    <%= current_user.get_voted(Post).count %>
                  </span>
                  <img src='/images/like_active.png' />
                  Нравится
                <% end %>
              </li>
              <li>
                <%= link_to following_user_path(current_user) do %>
                  <img src='/empty.png' /> Я читаю
                <% end %>
              </li>
              <li>
                <%= link_to followers_user_path(current_user) do %>
                  <img src='/images/followers.png' /> Меня читают
                <% end %>
              </li>
              <li role="presentation" class="divider"></li>
              <li>
                <%= link_to profile_edit_path do %>
                  Настройки
                <% end %>
              </li>
              <li>
                <%= link_to logout_path, data: { no_turbolink: true } do %>
                  Выход
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
        <% if current_user %>
          <%= link_to root_path do %>
            <div>
              <img title='Главная' data-toggle='tooltip' data-placement='bottom' class='menu-icon' src = '/images/home7.png' />
            </div>
          <% end %>
          <%= link_to fresh_path do %>
            <div class = 'is-hidden-if-sm-screen'>
                <img title='Новое' data-toggle='tooltip' data-placement='bottom' class='menu-icon' src = '/images/compass.png' />
            </div>
          <% end %>
        <% else %>
          <div class = 'entire-on-hat'>
            <%= link_to "Вход", new_session_path, class: 'btn btn-primary btn-st welcom-main-page'%>
             •
            <%= link_to '/auth/vkontakte', class: 'link-to-reg-vk btn btn-st btn-st-contrast' do%>
              <img src='/images/vk_link_reg1.png'/> Войти через ВК
            <% end %>
          </div>
        <% end %>

        <%= link_to notices_user_path(current_user) do %>
            <div>
                <img title='Уведомления' data-toggle='tooltip' data-placement='bottom' class='menu-icon' src = '/images/bell.png' />
            </div>
            <div class = 'amount-menu-icon amount-of-notices'>
              <% notifications_count =  current_user.notifications.where(viewed: false).count %>
              <%= notifications_count unless notifications_count.zero? %>
            </div>
        <% end if current_user %>
      </div>
    </div>
  </div> -->
</section>
<section class='post-categories'>
</section>
