<div class='desire-content'>
  <div class="post-autor">
    <%= link_to @desire.user do %>
      <div class="usual-avatar" style = 'background: url(<%= @desire.user.avatar.thumb %>) no-repeat; background-size: cover; background-color: white;'>
      </div>
      <div class="post-autor-info">
        <h4 class="modal-title" id="myModalLabel"><%= @desire.user.name %></h4>
        <div class='city-time'>
          <%= @desire.user.city_name %>, <%= l(Time.now) %>
        </div>
      </div>
    <% end %>
    <% if current_user == @desire.user %>
      <button class='btn-neutral btn btn-st'>
        Удалить
      </button>
    <% end %>
  </div>

  <div class='post-title desire-title'>
    <h1><%= @desire.title %></h1>
  </div>

  <div class='post-description desire-description'>
    <div class="usual-desire-text-create action-create-element-desire">
      <%= @desire.text %>
    </div>
  </div>


  <div class="post-footer desire-footer">
    <button type="button" class="btn btn-primary btn-st">
      Спасибо, желание исполнено!
    </button>
  </div>

  <div class="desire-variants">
    <div class='tips-and-comments'>16 ответов</div>
    <div id="grid-gallery" class="grid-gallery">
      <%= react_component 'Gallery', posts_url: posts_path(@user) %>
    </div>
  </div>

</div>