<div class='avatar'>
  <img src = '<%= @user.avatar %>' />
  <% if current_user %>
    <%= link_to new_post_path do %>
      <button class='get-publication btn btn-st'>Опубликовать</button>
    <% end %>
  <% end %>
</div>
<div class='name'>
  <%= @user.name %>
</div>
<% if @user.description.present? %>
  <div class='aboutme'>
    <%= @user.description %>
  </div>
<% end %>
<div class='city'>
  <%= @user.city.try(:name) %>
</div>
