<span class='social-networks'>
    <% if current_user && @user != current_user %>
      <% if current_user.following?(@user) %>
        <%= link_to 'Читаю', unfollow_user_path(@user),
        method: :post,
        class: 'btn btn-primary btn-st btn-follow btn-follow-on',
        data: { toggle: 'tooltip', placement: 'bottom' } %>
      <% else %>
        <%= link_to 'Читать', follow_user_path(@user),
        method: :post,
        class: 'btn btn-primary btn-st',
        data: { toggle: 'tooltip', placement: 'bottom' } %>
      <% end %>
    <!-- <button class = 'btn btn-primary btn-st'>Читать</button> -->
    <% end %>
    <% if current_user && @user == current_user %>
      <%= link_to profile_edit_path do %>
        Настройки профиля
      <% end %>
    <% end %>
    <% if current_user %>
      <h5><%= @user.phone %></h5>
      <p>
        <%= react_component 'SocialInfo', props:{ user: {id: @user.id, vk_id: @user.vk_id, facebook_id: @user.facebook_id, instagram_id: @user.instagram_id}}%>
      </p>
    <% else %>
      <div class='notification-block notification-more-contact'>
        <%= link_to 'Войдите', welcome_path %> на Trenly, чтобы связаться с продавцом
      </div>
    <% end %>
    <% if current_user == @user && !halffull_contacts?(current_user)%>
      <div class='notification-block notification-more-contact'>
        <%= link_to profile_edit_path do %>Укажите<% end %> больше контактов, чтобы с Вами было легче связаться!
      </div>
    <% end %>
</span>
<div class='avatar'>
  <div class='img-avatar' style = 'background: url(<%= @user.avatar %>) no-repeat; background-size: cover; background-color: white;'></div>
</div>
<div class='name'>
  <%= @user.name %>
</div>
<% if @user.description.present? %>
  <div class='aboutme'>
    <%= @user.description %>
  </div>
<% else %>
  <% if @user == current_user %>
    <div class='aboutme'>
      <%= link_to profile_edit_path do %>
        Добавить контакты и информацию о себе
      <% end %>
    </div>
  <% end %>
<% end %>
<% if @user.city.present? %>
  <div class='city'>
    <%= @user.city.try(:name) %>
  </div>
<% else %>
  <% if @user == current_user %>
    <div class='city'>
      <%= link_to profile_edit_path do %>
        Укажите город
      <% end %>
    </div>
  <% end %>
<% end %>
