<div class='wrap-profile'>
  <%= render "profile_user" %>
  <div class='menu'>
	  <ul>
	    <li>
	      <span><%= @user.posts.count %></span>
	      <%= link_to user_path(@user) do %>
	        Публикации
	      <% end %>
	    </li>
	    <li class='active'>
	      <span><%= @user.get_voted(Post).count %></span>
	      <%= link_to favourite_user_path(@user) do %>
	        Нравится
	      <% end %>
	    </li>
	    <li>
	      <span><%= @user.follow_count %></span>
	      <%= link_to following_user_path(@user) do %>
	        <% if @user != current_user %>
	          Читает
	        <% else %>
	          Я читаю
	        <% end %>
	      <% end %>
	    </li>
	    <li>
	      <span><%= @user.followers_count %></span>
	      <%= link_to followers_user_path(@user) do %>
	        <% if @user != current_user %>
	          Читатели
	        <% else %>
	          Меня читают
	        <% end %>
	      <% end %>
	    </li>
	  </ul>
	</div>
</div>
<div id="grid-gallery" class="grid-gallery">
  <%= react_component 'Gallery', posts_url: favourite_user_path(@user) %>
</div>
<%= render "partials/contacts" %>
