<div class ='container' id = 'main-container'>
  <div class='card-butify center-block602'>
    <div class="card-title">
      Уведомления
    </div>
    <div class="usual-list border-b-radius">
      <div class = 'followers'>
        <% @user.notifications.order(created_at: :desc).limit(30).each do |n| %>
          <div class = 'follower'>
            <div class='follower-user-button'>
              <div class='follower-user'>
                <div class="preview-object">
                    <% if n.who %>
                      <div class="preview-object-avatar" style="background: url(
                      <%= n.who.avatar.thumb %>
                      ) no-repeat; background-size: cover;">
                      </div>
                    <% end %>
                    <div class="preview-object-info">
                      <div class="object-text">
                        <div class="object-maintext">
                          <% if n.recommendation? %>
                            <span>Поздравляем! Команда Trenly добавила Вас в список пользователей, рекомендованных к просмотру</span>
                          <% elsif n.offer? %>
                            <%= link_to n.who.name, user_path(n.who), class: 'thin-text300' %>
                            <span>предложил(а) Вам свой товар</span>
                          <% elsif n.post_recommendation? %>
                            <span>Команде Trenly понравилась Ваша <b><%= link_to 'публикация', post_path(n.post_id) %></b>, она добавлена в категорию <b><%= link_to 'Наш выбор', recommend_path %></b>
                            </span>
                          <% elsif n.who %>
                            <%= link_to n.who.name, user_path(n.who), class: 'thin-text300' %>
                            <% if n.comment? %>
                            <span>прокоментировал(а)</span>
                            <%= link_to 'эту', post_path(n.post_id) %>
                            <span>публикацию</span>
                            <% elsif n.like? %>
                            <span>понравилась</span>
                            <%= link_to 'эта', post_path(n.post_id) %>
                             <span>публикация</span>
                            <% else %>
                            <span>начал(а) читать Вас</span>
                            <% end %>
                          <% end %>
                        </div>
                        <div class="object-subtext-data">
                          <%= l n.created_at %>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="clearboth">
                </div>
              </div>
              <div class = 'follower-button'>
                <img src = '<%= n.image_path %>' />
              </div>
            </div>
            <div class="clearboth">
            </div>
          </div>
        <% end %>
        <% @user.notifications.where(viewed: false).update_all(viewed: true) %>
      </div>
    </div>
  </div>
</div>
